.container {
    text-align: center;
    width: 80%;
    margin: 3rem auto;

    @media screen and (max-width:1200px) {
        
        width: 97%
    }

    h1 {
        @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait) {
            font-size: 1.5rem;
        }
    }
}

.heading-primary {
    font-weight: 200;

    @media screen and (max-width:1200px) {
        padding-bottom: 1rem;
    }
}

.heading-quaternary {
    width: 34%;
    margin: 1rem auto;
    color: var(--grayish-blue);
    font-weight: 400;

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait)  {
        width: 90%;
    }

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:landscape) {
        width: 85%;
    }
}

.cardbox {
    
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait) {
        justify-content:initial;
        flex-wrap: wrap;
        margin-top: 1rem;
        align-items: baseline;
    }

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:landscape) {
        flex-direction: column;
    }
    
}

.column {
    
    &:not(:last-child) {
        margin-right: 3rem;

        @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait) {
            margin-right:auto;
        }

        @media screen and  (min-width:360px) and (max-width:640px) and (orientation:landscape) {
            margin-right: 1rem;
        }


    }

    flex-basis: 30%;

    @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait) {
        flex-basis: auto;
        max-width: 90%;
        margin:  1rem auto;


        &:first-child {
            margin-top: 1rem;
        }

    
        
    }

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:landscape) {
        margin: 0 1rem 1rem 1rem;
    }

}

.card {
    position: relative;
    padding: 3rem;
    text-align: left;
    box-shadow: 3px 2px 8px 2px var(--grayish-blue);
    border-radius: 10px;

    @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {

        padding-left: 2rem;
    }


    &::before {
        content: "";
        position: absolute;
        height: 5.5px;
        width: 99.3%;
        transform: translate(-2.9rem, -3rem);
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;

        @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {

            transform: translate(-2rem, -3rem);
        }
    }
    

    &--1 {
        top: 25%;


        @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
            top:30%;
        }

            &::before {

                background-color: var(--cyan);
            }
        }

        &--2 {

                &::before {

                    background-color: var(--red);
                }
        }

        &--3 {

            margin-top: 3rem;

            &::before {

                background-color: var(--orange);
            }

            @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait) {
                margin-top: 2rem;
            }

            
            @media screen and  (min-width:360px) and (max-width:640px) and (orientation:landscape) {
                margin-top: 1rem;
            }

        }

        &--4 {

            top: 25%;

            @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
                top:15%
            }

            @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
                padding-bottom: 2rem;
            }

            &::before {

                background-color: var(--blue);
            }

        }

    p {
        width: 83%;
        padding-top: 1rem;
        color: var(--grayish-blue);
        font-weight: 400;


        @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
            width: 100%;
        }

        @media screen and  (min-width:360px) and (max-width:640px) and (orientation:portrait) {
            width: 100%;
        }
    }
}

.image {
    max-width: 20%;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: .8rem;
    transform: translate(460%,30%);


    @media screen and (max-width:1200px) {
        max-width: 18%;
    }

    @media screen and  (min-width:768px) and (max-width:1024px) and (orientation:portrait) {

        max-width: 46%;
        transform: translate(0%, 30%);
    }

    @media screen and  (min-width:360px) and (max-width:640px) and (orientation:landscape) {
        transform: translate(680%,30%);
    }
}



